body 
{
background-color: #ffc0ff ;
background-repeat:repeat-y ;
background-position: center top;
}

img
{
    width: 50px;
}

p
{
    background-color: rgb(250, 219, 215);
}
div
{
     background-color: rgb(110, 110, 238);
    height: 100px;
      color: black;
    margin: 50px 50px 50px 30px;
    padding:10px ;
    border: 2px solid #ffc025;
    border-radius:5px ;
}
.kontent
{
    background-color: rgb(110, 238, 138);
    height: 150px;
      color: black;
    margin: 50px 50px 50px 30px;
    padding:10px ;
    border: 2px solid #ff2534;
    border-radius:5px ;
}

.kontent1
{
   background-color: rgb(110, 221, 238);
    height: 750px;
      color: black;
    margin: 50px 50px 50px 30px;
    padding:10px ;
    border: 2px solid #0c0102;
    border-radius:5px ; 
}

.kontent2
{
    background-color: rgb(238, 110, 200);
    height: 400px;
      color: black;
    margin: 50px 50px 50px 30px;
    padding:10px ;
    border: 2px solid #ffe925;
    border-radius:5px ;
}
.frobt
{
    background-color: rgb(51, 116, 124);
    height: 150px;
      color: black;
    margin: 50px 50px 50px 30px;
    padding:10px ;
    border: 2px solid #0f0e03;
    border-radius:5px ;
}
button
{
     width: 170;
    height: 40;
    color: white;
    background-color: black;
}

button:hover
{
    transition: 1s; /* время раскрытия изменения кномки*/
    width: 260px; /* длинна*/
    height: 65px; /*высота */
    background-color: red; /* цвет кгопки*/
    color: white; /* цвет текста*/
    border-radius: 10px; /* скругление углов */
    cursor: pointer; /* изменения курсора*/
}
button:active
{
    background-color: chartreuse; /* именение цвета и формы при удержинии клика кнопки*/
    border-radius: 15px;
}

a:link {/*цвет ссылки*/
  color: blue;
}
a:visited{ /* цвет ссылки после прохождения по ней*/
  color: brown;
}
a:active{ /* цвет ссылки при нажатии*/
  color: coral;
}

input
{
    border: 2px solid #ccc; /* обводка яцейки и ее цвет*/
    padding: 5px; /* отступ в нутри ячейки*/
    outline: none; /*убираем цвет заводский обводки */
}
input:focus
{ /*при взаимодействии с полем для ввода */
    border-color: chartreuse; /*изменение цвета обводки при нажатии */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);/* создание тени, смещение по х, по Y, блюринк, цвет*/
}

img
{
    border-radius: 20px; /*скругление углов*/
    border: 2px solid #cc25cc;/*обводка*/
    transition: 1s; /*вреня закрытия картики*/
}

img:hover
{
    filter: blur(5px); /*блюринг картинки*/
    transition: 1s; /*время открытия картинки*/
}
